*{
	margin:0;
	padding:0;
}

.header{
	width:100%;
	height:50px;
}

.first{
	width:5%;
	float:left;
	padding-left:10px;
	padding-top:8px;
}

.second{
	width:88%;
	float:left;
	font-size:25px;
	text-align:left;
	padding-left:10px;
	padding-top:20px;
	
}
.bodypart{
	width:100%;
	text-align:center;
}
.bodypart1{
	width:55%;
	float:left;
	padding-top:8%;
}
.bodypart2{
	width:42%;
	float:left;
	padding-top:8%;
}

.formcontrol{
	width:200px;
	height:40px;
}

label{
	font-size:25px;
	padding-right:4px;
	
}

button{
	background-color:skyblue;
	color:black;
	width:200px;
	height:40px;
	font-weight:bold;
}

.userhome{
	text-align:left;
	font-size:25px;
	font-weight:bold;
	padding:12px
	
}

.heading{
	font-size:25px;
	color:orange;
}

.addbtn{
	background-color:steelblue;
	color:white;
	float:right;
}

table{
	width:99%;
	margin:0 auto auto;
	
}
td{
	padding:10px;
	text-align:left;
	font-size:20px;
}

